.bottom-wrapper {
  width: 100%;
  background-color: #F9F7F3;
  padding-bottom: 3vh;
  
}
.container {
  width: 80vw;
}
.border-top-bottom {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container div {
  margin-top: 2vh;
}
.container div img {
  margin-top: 2vh;
}
.email-input {
  width: 100%;
  border-radius: 5px;
  height: 4vh;
}
.subscribe {
  background-color: #AF1F31;
  color: white;
  height: 6vh;
  width: 100px;
  border-radius: 5px;
  border: none;
}
#container {
  width: 80vw;
  vertical-align: center;

}
.copyright {
  background-color: #EDE9DD;
  vertical-align: center;
}
#payment-img img {
  height: 26px;
  width: 42px;
  float: right;
}
