* {
  box-sizing: border-box;
}

body html {
  margin: 0;
  display: inline-block;
  position: relative;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
display: block;
height: auto;
width: 100%;
max-width: 100%;

}


.carousel-caption {
  top: 20%;


}
.carousel-indicators li, .carousel-indicators li.active {
  border-radius: 1px;
  width: 45px;
  height: 7px;
}
/*.carousel-indicators li.active {
  border-radius: 0;
  width: 50px;
}*/
.main-text {
  position: fixed;
  top: 20px;
  width: 100vw;
  z-index: 900;
}
ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
li {
  color: white;
  margin-right: 40px;
  margin-top: 10px;
  font-size: 19px;
  position: relative;
}
.logo {
 background-image: url('https://cdn.shopify.com/s/files/1/0667/0685/t/2/assets/logo.png?15545387235156860073');
 filter: brightness(0) invert(1);
 position: absolute;
 background-repeat: no-repeat;
 left: 36px;
 height: 90px;
 width: 200px;
 /*z-index: 900px;*/
}
 #button {
  background: Transparent;
  border: 1px solid white;
  margin: auto;
  margin-top: 10px;
  height: 45px;
  line-height: 45px;
}
.button1 {
  width: 120px;
}
.button2 {
  width: 100px;
}
.button3 {
  width: 190px;
}
.ad {
  background-color: #EDE9DD;
  width: 100%;
  height: 35vh;
}
.row {
  padding: 30px;
  margin: 0;
  /*padding-left: 40px*/

}
.product-page {

  width: 60%;
  margin: auto;

}
.product-info{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.widthset {
  width: 200px;
}
.img-home {
  heigth: 200px;
  width: 200px;
}
