.header {
  padding: 20px;
}
.login-form {
  display: flex;
  justify-content: center;
  align-item: center;
}
#myLogin {
  display: flex;
  flex-direction: column;

}
.button-sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#myLogin input {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 35vw;
  height: 40px;
  border-radius: 5px;
}
#myLogin button {
  width: 70px;
  height: 40px;
  border: none;
  background-color: #AF1F31;
  color: white;
  border-radius: 5px;
}
