.logo-menu {
  background-image: url('https://cdn.shopify.com/s/files/1/0667/0685/t/2/assets/logo.png?15545387235156860073');
  position: absolute;
  background-repeat: no-repeat;
  left: 36px;
  height: 90px;
  width: 200px;
  /*z-index: 900px;*/
 }
.li-menu {
  color: black;
}
