.register-header {
  padding-top: 15vh;
}
.register-form {
  display: flex;
  justify-content: center;

}
.register-form label{
  margin-top: 10px;
  margin-bottom: 10px;
}
.register-form input {
  width: 35vw;
  height: 40px;
}
.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.form-actions > button{

  height: 45px;
  width: 90px;
  background-color: #AF1F31;
  color: white;
  border: none;
  margin-bottom: 30px;
}
