nav.navbar.navbar-default.navbar-fixed-top {
  // border-bottom: 1px solid black;
}
#container-fluid-id {
  height: 15vh;
  background-color: white;
}
#navbar-fixed-top {
  border-bottom: 1px solid black;
}
#navbar-menu li {

  color: black;
  margin-right: 2vw;

}
#img-logo img {
    filter: brightness(1) invert(0);

    overflow: visible;
}

.main-text1 {
  position: fixed;
  width: 100vw;
  z-index: 900;

}
