<main class = 'bottom-wrapper'>
  <section class = 'container'>
    <div class = 'col-md-3'>
      <h5 class = 'border-top-bottom'>SERVICES</h5>

        <div>Track My Order</div>
        <div>FAQ</div>
        <div>Shipping Information</div>
        <div>International Shipping</div>
        <div>Return and Exchange</div>
        <div>Customer Reviews</div>
        <div>Contact Us</div>

    </div>
    <div class = 'col-md-3'>
      <h5 class = 'border-top-bottom'>OUR PRODUCTS</h5>

        <div>Shop Our Instagram</div>
        <div>Treehut Blog</div>
        <div>Join Treehut Team</div>
        <div>About Us</div>
        <div>We're Hiring</div>

    </div>
    <div class = 'col-md-3'>
      <h5 class = 'border-top-bottom'>TREE HUT RHYTHM</h5>
      <p>All we wanted is something simple and elegant. Nothing more and nothing less. A simple shelter with a splash of joy...</p>
      <img src = '//staticw2.yotpo.com/assets/badges-500.png'></img>

    </div>
    <div class = 'col-md-3'>
      <h5 class = 'border-top-bottom'>JOIN OUR EMAIL LIST FOR NEWS AND SALES!</h5>
      <p>Yes! Come and Join Tree Hut</p>
      <input class = 'email-input' type = 'text' placeholder = 'Your email'/>
      <div><button class = 'subscribe'>SUBSCRIBE</button></div>
    </div>
  </section>
</main>
<section class = 'copyright'>
  <section id= 'container' class = 'container'>
  <div class = 'col-md-6'>© 2016 Tree Hut Design.</div>
  <div id = 'payment-img' class = 'col-md-6'>
    <img src = '//cdn.shopify.com/s/files/1/0667/0685/t/2/assets/cc-paypal.png?5440516199222272723'></img>
    <img src = '//cdn.shopify.com/s/files/1/0667/0685/t/2/assets/cc-visa.png?5440516199222272723'></img>
    <img src = '//cdn.shopify.com/s/files/1/0667/0685/t/2/assets/cc-mastercard.png?5440516199222272723'></img>
    <img src = '//cdn.shopify.com/s/files/1/0667/0685/t/2/assets/cc-amex.png?5440516199222272723'></img>
    <img src = '//cdn.shopify.com/s/files/1/0667/0685/t/2/assets/cc-discover.png?5440516199222272723'></img>
  </div>
  </section>
</section>
