<div class = 'main-menu'>
  <div ui-sref = 'home' class = 'logo-menu'>

  </div>

  <div class = 'regular-list'>
  <ul class = 'hot-ul'>
    <li id = 'li-menu'  ui-sref = 'hot'>HOT</li>
    <li id = 'li-menu' class = 'dropdown' ui-sref = ''>
      <div class = 'dropbtn'>WATCHES</div>
        <div class = 'dropdown-content'>
          <a href = '#'>1.7 INCHES (DIAMETER)</a>
          <a href = '#'>1.3 INCHES (DIAMETER)</a>
          <a href = '#'>CANVAS WATCHES</a>
          <a href = '#'>COUPLES WATCHES</a>
        </div>
    </li>
    <li id = 'li-menu' class = 'dropdown' ui-sref = ''>
      <div class = 'dropbtn'>SUNGLASSES</div>
        <div class = 'dropdown-content'>
          <a href = '#'>FOR HIM</a>
          <a href = '#'>FOR HER</a>
        </div>
    </li>

    <li id = 'li-menu' >OUR STORY</li>
    <li id = 'li-menu'  ui-sref = 'login'>
        <i class="fa fa-fw fa-1x fa-user" aria-hidden="true"></i>
    </li>
    <li id = 'li-menu'  ui-sref = 'cart'>CART</li>
    <li id = 'li-menu' ui-sref = "myPage">MY PAGE</li>
  </ul>
</div>
</div>
