<div class = 'main-text1'>

  <nav id='navbar-fixed-top' class = "navbar navbar-default navbar-fixed-top">
<div id = 'container-fluid-id' class ="container-fluid">
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#togglemenu" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a id='img-logo'  ui-sref='home'class = 'img-responsive'>
    <img alt = "Brand" src = "https://cdn.shopify.com/s/files/1/0667/0685/t/2/assets/logo.png?15545387235156860073">
  </a>
</div>
<div class = "collapse navbar-collapse" id = "togglemenu">
<!--Need to change toggemenu-->
  <ul id = 'navbar-menu' class = "nav navbar-nav navbar-right">
    <!-- <div ui-sref = 'home' class = 'logo'></div> -->
    <li ui-sref = "hot">HOT</li>

    <li class = 'dropdown' ui-sref = 'watches'>
      <div class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true""btn btn-default dropdown-toggle" data-toggle="dropdown">WATCHES
  </div>
        <ul class = 'dropdown-menu' aria-labelledby="dropdownMenu1">
          <li><a ui-sref = '17' ng-click="$event.stopPropagation()">1.7 INCHES (DIAMETER)</a></li>
          <li><a ui-sref = '13' ng-click="$event.stopPropagation()">1.3 INCHES (DIAMETER)</a></li>
          <li><a href = '#'>CANVAS WATCHES</a></li>
          <li><a href = '#'>COUPLES WATCHES</a></li>
        </ul>
    </li>

    <li class = 'dropdown' ui-sref = 'sunglasses'>
      <div class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true""btn btn-default dropdown-toggle" data-toggle="dropdown">SUNGLASSES
  </div>
        <ul class = 'dropdown-menu'>
          <li><a href = '#'>FOR HIM</a></li>
          <li><a href = '#'>FOR HER</a></li>
        </ul>
    </li>

    <li ui-sref = "#contacts">OUR STORY</li>
    <li ui-sref = "login"><i class="fa fa-fw fa-1x fa-user" aria-hidden="true"></i></li>
    <li ui-sref = "cart">CART</li>
    <li ui-sref = "myPage">MY PAGE</li>
  </ul>
</div>
</div>

</nav>
</div>
